pandas>=2.0.0
PyJWT>=2.0.0
python-daemon
python-dateutil
requests>=2.24.0
saspy>=5.109.0
schedule
sasci360apicore @ git+https://github.com/mnelson3/sas-ci360-sdk.git@main#subdirectory=packages/api-core
sasci360soldata @ git+https://github.com/mnelson3/sas-ci360-sdk.git@main#subdirectory=packages/sol-data
service>=0.6.0
pywin32; sys_platform == "win32"
urllib3>=2.0.0
