pandas>=3.0.5
PyJWT>=2.0.0
python-daemon
python-dateutil
requests>=2.24.0
saspy>=5.0.0
schedule
sasci360apicore @ git+https://github.com/mnelson3/sas_ci360_api_core.git@main
sasci360soldata @ git+https://github.com/mnelson3/sas-ci360-sol-data.git@main
service>=0.6.0
pywin32; sys_platform == "win32"
urllib3>=2.0.0
