[Unit]
Description=SAS Customer Intelligence 360 Solutions Service
After=network.target

[Service]
User=root
StandardOutput=journal
StandardError=journal
ExecStart=/opt/sas-ci360-solutions/venv/bin/python3 /opt/sas-ci360-solutions/src/UnixService.py start
WorkingDirectory=/opt/sas-ci360-solutions/

[Install]
WantedBy=multi-user.target
